@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


<RadzenLayout>
        @if(NavigationManager.Uri != "https://localhost:7242/") {
            <NavMenu />
        }
        <RadzenBody>
                <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
                    @Body
                </RadzenStack>
        </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>